extends layout

block content

    h1 Inserir Musica
    form(action="/musicas", method="post")
        div
            label Titulo
            input(type="text", name="tit")
        div
            label Provincia
            input(type="text", name="prov")
        div
            input(type="submit", value="Registar")
            input(type="reset", value="Limpar")