extends layout

block content
    h1 Musicas
    h2 Data: #{date}
    h3 
        a(href="/musicas/inserir") Inserir Musica
    table
        tr
            th  Identificador
            th  Titulo
            th  Provincia
        each musica in musicas
            tr
                td
                    a(href="/musicas/"+musica.id)=musica.id
                td= musica.tit
                td 
                    a(href="/musicas/prov/" + musica.prov)=musica.prov
    
