doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", href="data:;base64,iVBORw0KGgo=")
    script(src='javascripts/jquery-3.5.1.min.js')
    script(src='javascripts/myscript.js')
  body
    block content
